h1 {
  color: black;
  font-size: 35px;
  font-family: arial;
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  color: black;
  font-size: 18px;
}
h3 {
  font-size: 18px;
  text-align: center;
}
li{
  color: black;
  font-size: 17px;
}
body{
  background-color: rgb(124,148,255);
}
div {
  background-color: rgb(54,200,205);
}
